@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
ul li {
    list-style: none;
}
a {
    text-decoration: none;
  
}
header {
    position: sticky;
    top: 0px;
    z-index: 100;
}
.navbar {
    font-family: 'Inter', sans-serif;
    height: 90px;
    background-color: white !important;
    }
    .navbar-brand {
        font-size: 28px;
        font-weight: 700;
        font-family: "Inter", sans-serif;
        border: none;
    }
    .dot {
        font-weight: 700;
        color: #ce1212;
        border-radius: 50px;
    }
    .btn {
        background-color: #ce1212;
        border-radius: 50px;
        padding: 8px 20px;
        font-size: 14px;
    }
    .navbar-nav {
        width: 70%;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-item a {
        color: #7f7f90;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
    .nav-item a :hover{
        color: black !important;
    }
    .dropdown-item {
        color: #7f7f90;
        font-size: 16px;
        font-weight: 600;
    }
    .dropdown-item:hover {
        color: #ce1212;
    }
    .banner {
        width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
    background-color: #EEEEEE;
    }
    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 64px;
        font-weight: 700;
        color: #37373f;
    }
    .banner p {
        color: #4f4f5a;
        font-weight: 400;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 20px 0px 30px
    }
    .book-a-table {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 36px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        background:#ce1212;
        box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2)
    }
    .banner-buttons {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .banner-buttons i {
        color:#ce1212;
        font-size: 36px;
        margin-right: 5px;
    }
    
    .banner-buttons a {
        font-size: 16px;
        transition: 0.5s;
        margin-left: 25px;
        font-weight: 600;
        text-decoration: none;
        color: #212529;
    }
    .banner-buttons span {
        margin-left: 5px;
        text-align: center;
        position: relative;
        top: -8px;
    }
    .banner-buttons span:hover {
        color: #ce1212;
    }
   .banner img {
    width: 526px;
    height: 526px;
    padding-top: 50px;

   }
.call-us {
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: #fff;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
    padding: 20px;
    text-align: center;
}
.section-header {
    text-align: center;
    padding-bottom: 30px;
}
.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: "Amatic SC", sans-serif;
}
.section-header span {
    color: #ce1212;
}
.about {
    padding-bottom: 100px;
}
.about-img {
    background-image: url(https://bootstrapmade.com/demo/templates/Yummy/assets/img/about.jpg);
    min-height: 500px;
}
.call-us h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.call-us p {
    font-size: 28px;
    font-weight: 700;
    color: #ce1212;
}

.content ul li {
    padding-bottom: 16px;
    position: relative;

}
.content ul li i {
    position: absolute;
    font-size: 20px;
    left: -30px;
    top: 5px;
    color: #ce1212;
}
.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#ce1212 50%, rgba(206, 18, 18, 0.4) 52%);
    color: white;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}
.about .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.section-bg {
    background-color: #eee;
}
.why-us {
    padding: 80px 0px;
}
.why-box {
    padding: 30px;
    background :#ce1212;
    color: #fff;
}
.why-box h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
.why-box p {
    margin-bottom: 30px;
}
.text-center {
    text-align: center!important;
}
.more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}
.more-btn:hover {
    background-color: white;
    color: #ce1212;
}
.icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(55, 55, 63, 0.1);
    transition: 0.3s;
}
.icon-box i {
    color: #ce1212;
    margin-bottom: 30px;
    font-size: 32px;
    margin-bottom: 30px;
    background: rgba(206, 18, 18, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}
.icon-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;
}
.icon-box p {
    font-size: 15px;
    color: #6c757d;
}
.icon-box {
    transform: scale(0.95);
}
.icon-box:hover {
    transform: scale(1.05);
}




   @media screen and (min-width: 992px){
    .banner img {
        margin-right: 0px !important;
    }
   
}